*/*/mjkey.txt
**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/

data/*
*.png
*.txt
*.csv
*.json
*.log
*.pkl
*.pt
*ubyte
*/result
*/MNIST
*conf.py
*__pycache__/
